$backgroundColor: #ffffff;
$secondaryBackgroundColor: #fff;
$fontColor: rgb(0, 0, 0);
$secondaryFontColor: #abafb1;
$primaryColor: #ffffff;
$transparentBackgroundColor: rgba(184, 178, 178, 0.4);
$transparentBackgroundHoverColor: rgba(100, 100, 100, 0.3);
$disabledBackgroundColor: rgba(100, 100, 100, 0.9);
$hangUpBackgroundColor: #000000;
$userNoVideoColor: #ccc;
